body {
  background-color: black;
}

.homepage-link {
  color: lightgray;
}
.homepage-link:hover {
  color: gray;
}

.option-fixed {
  padding: 5px;
}

.text {
  color: lightgray;
  font-size: 20px;
}

.text-header {
  color: white;
  text-align: center;
}

.app-options {
  padding-top: 20px;
  text-align: center;
}

.app-form {
  border: 5px white;
  background-color: #1D1C06;
  border-radius: 10px;
  text-align: left;
  margin: auto;
  margin-top: 10px;
  width: 500px;
  padding: 1rem;
}

.input-box {
  border-radius: 5px;
}

.submit-button {
  text-align: center;
}